<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- TailwindCSS Play CDN -->
  <!-- WARNING: DO NOT USE IN PRODUCTION -->
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
  <!-- TODO: Application navbar code below -->

  <!-- Jinja block template -->
  <!-- WARNING: Do not delete the line below -->
  {% block content %}{% endblock %}

  <!-- TODO: Load scripts for anything if necessary -->
</body>
</html>
