{% extends 'base.html' %}

{% block title %}Car Listings{% endblock %}

{% block content %}
<div class="container mx-auto py-8">
  <h1 class="text-2xl font-bold mb-4">Car Listings</h1>
  <table class="table-auto w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">UID</th>
        <th class="px-4 py-2">Owner UID</th>
        <th class="px-4 py-2">Requirements</th>
        <th class="px-4 py-2">Price</th>
        <th class="px-4 py-2"></th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>
    <tbody>
      {% if cars|length == 0 %}
      <tr>
        <td colspan="10" class="px-4 py-2">No vehicle records</td>
      </tr>
      {% endif %}

      {% for key, listing in cars.items() | sort(attribute='1.uid') %}
      <tr>
        <td class="px-4 py-2">{{ listing.uid }}</td>
        <td class="px-4 py-2">{{ listing.owner_uid }}</td>
        <td class="px-4 py-2">{{ listing.requirements}}</td>
        <td class="px-4 py-2">${{ listing.price }}</td>
        <td class="px-4 py-2 flex justify-around">
        <td>
          <button
            onclick="fillinputs('{{ listing.uid }}', '{{ listing.requirements }}', '{{ listing.price }}')">Update</button>
        </td>
        <td><button onclick="deletelisting('{{ listing.uid }}')">Delete</button></td>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>

  <div class="flex flex-row justify-between">
    <div class="flex flex-col">
      <h1 class="text-4xl font-bold">New Listing Details</h1>
      <div class="mb-4">
        <label for="requirements">Requirements</label>
        <input id="requirements" type="text" class="bg-gray-200 px-4 py-2 rounded-md" required>
      </div>
      <div class="mb-4">
        <label for="price">Price</label>
        $<input id="price" type="number" class="bg-gray-200 px-4 py-2 rounded-md" required>
      </div>

      <div class="mb-4">
        <span id="create_error" class="text-red-400"></span>
      </div>

      <button type="submit" onclick="createlisting()">Create Car listing</button>
    </div>

    <div class="flex flex-col">
      <h1 class="text-4xl font-bold">Update Listing Details</h1>

      <div class="mb-4">
        <label for="update_uid">UID</label>
        <input id="update_uid" type="text" class="bg-gray-200 px-4 py-2 rounded-md" required readonly>
      </div>

      <div class="mb-4">
        <label for="update_requirements">Requirements</label>
        <input id="update_requirements" type="text" class="bg-gray-200 px-4 py-2 rounded-md" required>
      </div>

      <div class="mb-4">
        <label for="update_price">Price</label>
        $<input id="update_price" type="text" class="bg-gray-200 px-4 py-2 rounded-md" required>
      </div>

      <div class="mb-4">
        <span id="update_error" class="text-red-400"></span>
      </div>

      <button type="submit" onclick="updatelisting()">Update Car listing</button>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function fillinputs(uid, requirements, price) {
    document.getElementById('update_uid').value = uid
    document.getElementById('update_requirements').value = requirements
    document.getElementById('update_price').value = price
  }

  function createlisting() {
    const error = document.getElementById('create_error')
    const requirements = document.getElementById('requirements').value
    const price = document.getElementById('price').value

    if (!requirements) return error.innerText = 'ERROR: Requirements is empty!'
    if (!price) return error.innerText = 'ERROR: Price is empty!'

    if (Number(price) <= 0) return error.innerText = 'ERROR: Price must not be less than or equals to $0!'

    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/api/listing');
    xhr.setRequestHeader('Content-Type', 'application/json')
    xhr.send(JSON.stringify({
      "owner_uid": '{{ owner_uid }}',
      "requirements": requirements,
      "price": price
    }))

    setTimeout(() => window.location.reload(), 250)
  }

  function updatelisting() {
    const error = document.getElementById('update_error')

    const uid = document.getElementById('update_uid').value
    const requirements = document.getElementById('update_requirements').value
    const price = document.getElementById('update_price').value

    if (!uid) return error.innerText = 'ERROR: UID is required!'
    if (!requirements) return error.innerText = 'ERROR: Requirements is required!'
    if (!price) return error.innerText = 'ERROR: Price is required!'

    if (Number(price) <= 0) return error.innerText = 'ERROR: Price must not be less than or equals to $0!'

    const xhr = new XMLHttpRequest();
    xhr.open('PUT', `/api/listing/${uid}`)
    xhr.setRequestHeader('Content-Type', 'application/json')
    xhr.send(JSON.stringify({
      "requirements": requirements,
      "price": price
    }))

    setTimeout(() => window.location.reload(), 250)
  }

  function deletelisting(listing_uid) {
    let confirmation = confirm("Are you sure?")

    if (!confirmation) return;

    const xhr = new XMLHttpRequest();
    xhr.open('DELETE', `/api/listing/${listing_uid}`)
    xhr.setRequestHeader('Content-Type', 'application/json')
    xhr.send(null)

    setTimeout(() => window.location.reload(), 250)
  }
</script>
{% endblock %}