{% extends 'base.html' %}

{% block title %}Contractor Listings{% endblock %}

{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
<div class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-4">Contractor Listings</h1>
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Contact No.</th>
          <th class="px-4 py-2">Price of Service 1</th>
          <th class="px-4 py-2">Price of Service 2</th>
          <th class="px-4 py-2">Price of Service 3</th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="px-4 py-2">Darwin</td>
          <td class="px-4 py-2">12345679</td>
          <td class="px-4 py-2">$40</td>
          <td class="px-4 py-2">$50</td>
          <td class="px-4 py-2">$60</td>
          <td class="px-4 py-2 flex justify-around">
          <td><button type="submit">Update Contractor listing</button></td>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <form action="POST">
      <button type="submit">Create Contractor listing</button>
    </form>
  </div>
{% endblock %}