{% extends 'base.html' %}

{% block title %}Create Car listings{% endblock %}

{% block content %}
<form method="POST">
    <h1 style="text-decoration: underline; color: blue; opacity: 0.75;">Create Car Listing</h2>
    <div class="form-group">
        <label for="CarMake">Car Make</label>
        <br>
        <input
            type="text" 
            class="form-control"
            name="CarMake" 
            id="CarMake"
            placeholder="Enter Make of Car"
        /> 
        <br>
        <br>
        <label for="CarModel">Car Model</label>
        <br>
        <input
            type="text"
            class="form-control"
            name="CarModel" 
            id="CarModel"
            placeholder="Enter Model of Car"
        />
        <br>
        <br>
        <label for="LicensePlate">License Plate</label>
        <br>
        <input
            type="text"
            class="form-control"
            name="LicensePlate" 
            id="LicensePlate"
            placeholder="Enter License Plate"
        />
        <br>
        <br>
        <label for="CarAge">Car Age</label>
        <br>
        <input
            type="text"
            class="form-control"
            name="CarAge" 
            id="CarAge"
            placeholder="Enter Car Age"
        />
        <br>
        <br>
        <label for="HomeAddy">Home Address</label>
        <br>
        <input
            type="address"
            class="form-control"
            name="HomeAddy" 
            id="HomeAddy"
            placeholder="Enter your Home Address "
        />
        <br>
        <br>
        <label for="CustContactNo.">Contact No.</label>
        <br>
        <input
            type="tel"
            class="form-control"
            name="CustContactNo." 
            id="CustContactNo."
            placeholder="Enter your Contact No. "
        />
        <br>
        <br>
        <label for="ProPrice">Proposed Price</label>
        <br>
        <input
            type="number"
            class="form-control"
            name="ProPrice" 
            id="ProPrice"
            placeholder="Enter your Price"
        />
        <br>
        <br>
        <input type="submit" value="Create Listing">
    </div>



{% endblock %}