{% extends 'base.html' %} {% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container mx-auto flex flex-col items-center px-4 py-8">
  <img src="logo.jpeg" class="w-32 mb-8" alt="Logo" />

  <div class="w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-4">Basic Information</h2>

    <form action="{{ url_for('auth.signup') }}" method="POST">
      <div class="mb-4">
        <label class="block font-bold mb-2" for="email">Email Address</label>
        <input class="w-full px-3 py-2 rounded-lg shadow-sm" id="email" type="email" name="email"
          placeholder="john@example.com" />
      </div>

      <div class="mb-4">
        <label class="block font-bold mb-2" for="password">Password</label>
        <input class="w-full px-3 py-2 rounded-lg shadow-sm" id="password" type="password" name="password"
          placeholder="******" />
      </div>

      <div class="mb-4">
        <label class="block font-bold mb-2" for="password_confirm">Confirm Password</label>
        <input class="w-full px-3 py-2 rounded-lg shadow-sm" id="password_confirm" type="password"
          name="password_confirm" placeholder="******" />
      </div>

      <div class="mb-4">
        <label class="block font-bold mb-2" for="full-name">Full Name</label>
        <input class="w-full px-3 py-2 rounded-lg shadow-sm" id="full_name" type="text" name="full_name"
          placeholder="John Tan" />
      </div>

      <div class="mb-4">
        <label class="block font-bold mb-2" for="home-address">Home Address</label>
        <input class="w-full px-3 py-2 rounded-lg shadow-sm" id="home_address" type="text" name="home_address"
          placeholder="Ang Mio Kio Street 201" />
      </div>

      <div class="mb-4">
        <label class="block font-bold mb-2" for="contact-number">Contact Number</label>
        <input class="w-full px-3 py-2 rounded-lg shadow-sm" id="phone_number" type="tel" name="phone_number"
          placeholder="8391 2912" />
      </div>

      <div class="mb-8">
        <button
          class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
          type="submit">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}