{% extends 'base.html' %}

{% block title %}Update Contractor listing{% endblock %}

{% block content %}
<form method="POST">
    <h1 style="text-decoration: underline; color: blue; opacity: 0.75;">Update Contractor Listing</h2>
    <div class="form-group">
        <label for="UpdContname">Update Name</label>
        <br>
        <input
            type="text" 
            class="form-control"
            name="UpdContname" 
            id="UpdCname"
            placeholder="Update your Name"
        /> 
        <br>
        <br>
        <label for="UpdContContactNo.">Update Contact No.</label>
        <br>
        <input
            type="number"
            class="form-control"
            name="UpdContContactNo." 
            id="UpdContContactNo."
            placeholder="Update Contact No."
        />
        <br>
        <br>
        <label for="UpdServPrice1">Update Price of Service 1</label>
        <br>
        <input
            type="number"
            class="form-control"
            name="UpdServPrice1" 
            id="UpdServPrice1"
            placeholder="Update Price for Service 1"
        />
        <br>
        <br>
        <label for="UpdServPrice2">Update Price of Service 2</label>
        <br>
        <input
            type="number"
            class="form-control"
            name="UpdServPrice2" 
            id="UpdServPrice2"
            placeholder="Update Price for Service 2"
        />
        <br>
        <br>
        <label for="UpdServPrice3">Update Price of Service 3</label>
        <br>
        <input
            type="number"
            class="form-control"
            name="UpdServPrice3" 
            id="UpdServPrice3"
            placeholder="Update Price for Service 3"
        />
        <br>
        <br>
        <input type="submit" value="Update Contractor Listing">
        <br>
        <br>
        <button type="button" value="Delete" onclick="deleteItem()">Delete Listing</button>
    </div>




{% endblock %}














